body{
    background-color: #006437;
    color: white;
    font-family: arial, sans-serif; 
}
h1{
    text-align: center;
    color: red
}
p{
    text-align: center;
    font-size: 18px;
}
img{
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 20px;
}
a{
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    .botao-verde{
        background-color: white;
        color: #006437;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 50px;
        font-weight: bold;
        border: 2px solid white;
        transition: 0.3s;
    }    
}
a:hover{
    color: white;
    opacity: 0.8;
}
.botao-verde{
    background-color: white;
    color: #006437;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid white;
    transition: 0.3s;
    display: inline-block;
}
.botao-verde:hover{
    background-color: #006437;
    color: white;
    cursor: pointer;
    text-decoration: none;
}